<div class="divider danger">
    <h1>Dogs WITHOUT registered microchips!!!</h1>
</div>
<div class="table-responsive">
    {{table
        dogs=noMicrochips
        locationName="Location"
        status="Foster"
    }}
</div>
<div class="divider danger">
    <h1>Dogs WITHOUT Spay/Neuter!!!</h1>
</div>
<div class="table-responsive">
    {{table
        dogs=noSpayNeuter
        locationName="Location"
        status="Foster"
    }}
</div>
<div class="divider">
    <h1>{{boardingTreatmentText}}</h1>
</div>
<div class="table-responsive">
    {{table
        dogs=intake
        locationName="Location"
        status="To Foster"
    }}
</div>

<div class="divider">
    <h1>{{fosteredText}}</h1>
</div>
{{table
    dogs=fostered
    locationName="Foster"
    status="Foster"
}}
<div class="divider">
    <h1>{{pendingAdoptionText}}</h1>
</div>
{{table
    dogs=pendingAdoption
    locationName="Foster"
    status="Foster"
}}
<div class="divider">
    <h1>{{adoptedText}}</h1>
</div>
{{table
    dogs=adopted
    locationName="Adopter"
    status="Adoption"
}}